*.iml
.gradle
/local.properties
/.eas
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/appInsightsSettings.xml
.idea/deviceManager.xml
.idea/inspectionProfiles/
.idea/vcs.xml
.DS_Store
build/
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
app/release/
*.apk
*.aab
